@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=Berkshire+Swash&family=Open+Sans:wght@300;400;500&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,600;1,400&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.container {
    max-width: 350px;
    margin: 0 auto;
}
.cartao {
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 16px;
    text-align: center;
    margin: 0 1rem;
}
.cartao img {
    width: 100%;
    border-radius: 12px;
}
.texto {
    padding: 20px 10px;
}

.texto h2 {
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
}

.texto p {
    color: hsl(220, 15%, 55%);
}
.atribution {
    display: none;
}
